body {
  background-color: Black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: White;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: White;
}

.link {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

p {
  color: Gray;
  font-size: 21px;
}

#footer {
  text-align: right;
}
